* {
  box-sizing: border-box;
}

@mixin flexbt() {
  display: flex;
  justify-content: space-between;
}

@mixin flexcen() {
  display: flex;
  justify-content: center;
}

$white-word: #ffffff;
$grey-word: #999999;
$sky-color: #38aef0;


.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  color: $white-word;
  font-weight: bold;
  position: fixed;
  &__user-name {
    font-size: 16px;
    height: 100px;
    width: 300px;
    background-color: #253141;
    @include flexcen();
    align-items: center;

    &__box {
      height: 20px;
      width: 260px;
      line-height: 20px;
      @include flexbt();

      &__name {
        width: 200px;
      }
      
      
      &__contents {
        width: 60px;
        text-align: right;
        a {
          margin-left: 5px;
          color: $white-word;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow: scroll;
    &__group {
      &__name {
        font-size: 15px;
        padding: 20px 20px 5px 20px;
      }
      &__message {
        font-size: 11px;
        padding: 0px 20px 40px 20px;
      }
      a{
        color: $white-word;
        text-decoration: none;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  background-color:$white-word;
  position: fixed;
  top: 0;
  left: 300px;
  &__group-info {
    height: 100px;
    background-color: $white-word;
    border-bottom: solid 1px #eeeeee;
    @include flexbt();
    &__name {
      color: #333333;
      font-size: 20px;
      padding: 35px 0px 0px 40px;
      &__member {
        color: $grey-word;
        font-size: 12px;
        padding: 15px 0px 0px;
      }
    }
    &__edit {
      height: 40px;
      line-height: 40px;
      padding: 0px 20px;
      margin-top: 30px;
      border: solid 1px $sky-color;
      position: absolute;
      right: 40px;
      color: $sky-color;
      a {
        color: $sky-color;
        text-decoration: none;
      }
    }
  }
  .chat-main__message-list {
    width: 100vw;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      .upper-message {
        display: flex;
        margin-bottom: 10PX;
        .upper-message__user-name {
          color: #434A54;
          font-size: 16px;
          font-weight: bold;
        }
        .upper-message__date {
            color: $grey-word;
            font-size: 12px;
            margin-left: 10px;
        }
    }
        .lower-message {
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .chat-main__group-info__message-bar {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    .new_message {
      display: flex;
      .form__message-form {
        width: 100vw;
      }
      .chat-main__message-form__message-bar__type {
        .form__mask__image {
          position: relative;
          height: 50px;
          color: #434A54;
          .icon {
            position: absolute;
            bottom: -6px;
            right: 10px;
            font-size: 30px;
          }
          .hidden {
            display: none;
          }
        }
      }
      .form__submit{
        height: 50px;
        width: 100px;
        background-color: $sky-color;
        color: $white-word;
        line-height: 50px;
        margin-left: 15px;
      }
    }
  }
}