.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }
}